<div flex>
  <div class="hero-composer" style="background-image:url(images/hero.jpg);"></div>
  <div class="md-whiteframe-z1" layout="row" layout-align="center center" style="position:absolute;top:160px;left:100px;right:100px;background-color:#fff;height:300px;">
    <img class="md-padding" ng-src="{{composerCtrl.composer.image}}" style="width:270px;border-radius:50%;" />
    <div flex class="md-padding">
      <h1 class="md-display-1">{{composerCtrl.composer.fullname}}</h1>
      <p class="md-body-1 ellipsis-5">{{composerCtrl.composer.bio}}</p>
      <div layout="row">
        <md-button class="md-raised md-primary">Follow</md-button>
      </div>
    </div>
  </div>
  <div class="md-whiteframe-z1" style="margin:24px 100px;">
    <h3 class="md-headline margin-none" style="padding:24px;">Most Popular</h3>
    <!--<md-list flex>
      <md-list-item ng-repeat="composition in composerCtrl.compositions" ng-click="$state.go('app.composition',{vanity:composition.vanity,id:composition.id})">
        <span class="md-avatar" style="text-align:center;font-family:'Great Vibes',cursive;font-size:40px;">{{$index+1}}</span>
        <div class="md-list-item-text">
          <h3>{{composition.title}}</h3>
          <md-icon class="md-secondary md-accent md-36" md-svg-icon="assets/svg/ic_play_circle_filled.svg" aria-label="Play"
          ng-click="todo()"></md-icon>
        </div>
      </md-list-item>
    </md-list>-->
  </div>
  <div class="md-whiteframe-z1" style="margin:24px 100px;">
    <div layout="row" layout-align="center center" style="padding:0 24px;">
      <h3 class="md-headline margin-none">All Compositions</h3>
      <span flex></span>
      <md-input-container>
        <label>Genres & Forms</label>
        <md-select ng-model="composerCtrl.selectedForm">
          <md-option ng-repeat="form in composerCtrl.forms" value="{{form.id}}">{{form.name}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container style="margin-left:24px;">
        <label>Sort By</label>
        <md-select ng-model="composerCtrl.selectedSort">
          <md-option ng-repeat="sort in composerCtrl.sorts" value="{{sort.id}}">{{sort.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <md-list flex ng-if="composerCtrl.compositions.length">
      <md-list-item ng-repeat="composition in composerCtrl.compositions" ng-click="$state.go('app.composition',{vanity:composition.vanity,id:composition.id})">
        <span class="md-avatar" style="text-align:center;font-family:'Great Vibes',cursive;font-size:40px;">{{$index+1}}</span>
        <div class="md-list-item-text">
          <h4 class="md-title">{{composition.title}}</h4>
          <md-icon class="md-secondary md-accent md-36" md-svg-icon="assets/svg/ic_play_circle_filled.svg" aria-label="Play" ng-click="todo()"></md-icon>
        </div>
      </md-list-item>
    </md-list>
    <div ng-if="!composerCtrl.compositions.length" style="padding:24px;">
      No compositions found.
    </div>
  </div>
  <!--<md-whiteframe class="md-whiteframe-z1 md-padding" style="margin:20px 100px;" layout>md-table for all compositions</md-whiteframe>-->
</div>