<div flex>
  <div class="hero-composer" style="background-image:url(images/hero.jpg);"></div>
  <div class="md-whiteframe-z1" layout="row" layout-align="center center" style="position:absolute;top:160px;left:100px;right:100px;background-color:#fff;height:300px;">
    <img class="md-padding" ng-src="{{composerCtrl.composer.image}}" style="width:270px;border-radius:50%;" />
    <div flex class="md-padding">
      <h1 class="md-display-1">{{composerCtrl.composer.fullname}}</h1>
      <p class="md-body-1">{{composerCtrl.composer.bio}}</p>
      <div layout="row">
        <md-button class="md-icon-button md-warn" aria-label="Favorite">
          <md-icon md-svg-icon="assets/svg/ic_favorite.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="Favorite">
          <md-icon md-svg-icon="assets/svg/ic_share.svg"></md-icon>
        </md-button>
      </div>
    </div>
    <md-button class="md-fab" aria-label="Play" style="position:absolute;top:-32px;right:32px;">
      <md-icon md-svg-src="assets/svg/ic_play_arrow.svg"></md-icon>
    </md-button>
  </div>
  <div class="md-whiteframe-z1" style="margin:20px 100px;">
    <md-list flex>
      <md-subheader>Most Popular</md-subheader>
      <md-list-item ng-repeat="composition in composerCtrl.compositions" ng-click="$state.go('app.composition',{vanity:composition.vanity,id:composition.id})">
        <span class="md-avatar" style="text-align:center;font-family:'Great Vibes',cursive;font-size:40px;">{{$index+1}}</span>
        <div class="md-list-item-text">
          <h3>{{composition.title}}</h3>
          <md-icon class="md-secondary md-warn" md-svg-icon="assets/svg/ic_favorite.svg" aria-label="Favorite"
          ng-click="todo()"></md-icon>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <md-whiteframe class="md-whiteframe-z1 md-padding" style="margin:20px 100px;" layout>md-table for all compositions</md-whiteframe>
</div>