<md-content>
	<md-tabs md-center-tabs="true" md-dynamic-height md-border-bottom>
		<md-tab label="Details">
			<md-content class="md-padding">
				<pre>{{compositionCtrl.composition | json}}</pre>
			</md-content>
		</md-tab>
		<md-tab label="Videos">
			<md-content class="md-padding">
				<md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
					<md-grid-tile ng-repeat="video in compositionCtrl.videos" md-rowspan="1" md-colspan="1" md-ink-ripple ng-click="compositionCtrl.openVideo($event, video, compositionCtrl.composition)">
						<img class="full-width" ng-src="{{video.thumbnail}}" />
						<md-grid-tile-footer>
							<h3>{{video.title}}</h3>
						</md-grid-tile-footer>
					</md-grid-tile>
				</md-grid-list>
			</md-content>
		</md-tab>
		<md-tab label="Sheets">
			<md-content class="md-padding">
				<pre>{{compositionCtrl.sheet | json}}</pre>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>