<md-content>
	<md-tabs md-center-tabs="true" md-dynamic-height md-border-bottom>
		<md-tab label="Details">
			<md-content class="md-padding">
				<pre>{{compositionCtrl.composition | json}}</pre>
			</md-content>
		</md-tab>
		<md-tab label="Performances">
			<md-content class="md-padding">
				<pre>{{compositionCtrl.videos | json}}</pre>
			</md-content>
		</md-tab>
		<md-tab label="Sheet Music">
			<md-content class="md-padding">
				<pre>{{compositionCtrl.sheet | json}}</pre>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>