<div flex layout="row">
	<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')">
		<md-toolbar class="md-medium-tall md-whiteframe-z1" layout="column" layout-align="center center">
			<a ui-sref="app.splash">LilyBook</a>
		</md-toolbar>
		<md-content flex>
			<md-list>
				<md-subheader>Discovery</md-subheader>
				<md-list-item layout="row" layout-align="start center" ng-click="$state.go('app.discovery')">
					<md-icon md-svg-icon="assets/svg/ic_library_music.svg"></md-icon>
					<div flex class="inset">Discovery</div>
				</md-list-item>
				<md-list-item layout="row" layout-align="start center" ng-click="$state.go('app.composers')">
					<md-icon md-svg-icon="assets/svg/ic_list.svg"></md-icon>
					<div flex class="inset">Browse</div>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
		</md-content>
		<md-toolbar layout="row" layout-align="center center">
			<md-button class="md-raised md-accent" ng-if="!user" ui-sref="app.signup">Sign Up</md-button>
			<div class="md-padding" ng-if="user">Hi, {{user.firstname}}</div>
			<span flex></span>
			<md-button class="md-raised" ng-if="!user" ui-sref="app.login">Login</md-button>
			<md-button class="md-raised" ng-if="user" ng-click="appCtrl.logout()">Logout</md-button>
		</md-toolbar>
	</md-sidenav>
	<div flex layout="column">
		<lb-header context="appCtrl.context"></lb-header>
		<md-content flex layout ui-view></md-content>
	</div>
</div>