<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')">
	<md-toolbar class="md-medium-tall md-whiteframe-z1" layout="column" layout-align="center center">
		<span>LilyBook</span>
	</md-toolbar>
	<md-content flex>
		<md-list>
			<md-subheader>Discovery</md-subheader>
			<md-list-item layout="row" layout-align="start center" ng-click="$state.go('app.discovery')">
				<md-icon md-svg-icon="assets/svg/ic_library_music.svg"></md-icon>
				<div flex class="inset">Discovery</div>
			</md-list-item>
			<md-list-item layout="row" layout-align="start center" ng-click="$state.go('app.composers')">
				<md-icon md-svg-icon="assets/svg/ic_list.svg"></md-icon>
				<div flex class="inset">Browse</div>
			</md-list-item>
			<md-divider></md-divider>
		</md-list>
		<!--<md-list>
			<md-subheader ng-repeat-start="group in appCtrl.sidenav">{{group.subheader}}</md-subheader>
			<md-list-item layout="row" layout-align="start center" ng-repeat="item in group.items"
			ng-click="$state.go(item.state)">
				<ng-md-icon class="inset" icon="{{item.icon}}"></ng-md-icon>
				<div flex class="inset">{{item.title}}</div>
			</md-list-item>
			<md-divider ng-hide="$last" ng-repeat-end></md-divider>
		</md-list>-->
	</md-content>
	<md-toolbar layout="row" layout-align="center center">
		<md-button class="md-raised md-accent" ng-if="!user" ui-sref="app.signup">Sign Up</md-button>
		<div class="md-padding" ng-if="user">Hi, {{user.firstname}}</div>
		<span flex></span>
		<md-button class="md-raised" ng-if="!user" ui-sref="app.login">Login</md-button>
		<md-button class="md-raised" ng-if="user" ng-click="appCtrl.logout()">Logout</md-button>
	</md-toolbar>
</md-sidenav>
<div flex layout="column">
	<md-toolbar class="header">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Menu" hide-gt-lg ng-click="appCtrl.toggleSidenav('left')">
				<md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
			</md-button>
			<div ui-view="toolbar"></div>
			<div flex>
				<md-autocomplete md-autofocus="false" md-items="item in appCtrl.search(appCtrl.searchText)" md-search-text="appCtrl.searchText"
				md-search-text-change="" placeholder="Search">
					<md-item-template>
						<span md-highlight-text="appCtrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
					</md-item-template>
					<md-not-found>No matches found.</md-not-found>
				</md-autocomplete>
			</div>
			<md-button class="md-icon-button" aria-label="More">
				<md-icon md-svg-icon="assets/svg/ic_more_horiz.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Account">
				<md-icon md-svg-icon="assets/svg/avatar-1.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div flex layout="column" ui-view></div>
	<!--<md-fab-toolbar class="md-right">
		<md-fab-trigger class="align-with-text">
			<md-button aria-label="radio" class="md-fab md-primary">
				<md-icon md-svg-icon="assets/svg/ic_radio.svg"></md-icon>
			</md-button>
		</md-fab-trigger>
		<md-toolbar>
			<md-fab-actions class="md-toolbar-tools">
				<md-button aria-label="comment" class="md-icon-button">
					<md-icon md-svg-icon="assets/svg/share.svg"></md-icon>
				</md-button>
				<md-button aria-label="label" class="md-icon-button">
					<md-icon md-svg-icon="assets/svg/twitter.svg"></md-icon>
				</md-button>
				<md-button aria-label="photo" class="md-icon-button">
					<md-icon md-svg-icon="assets/svg/google_plus.svg"></md-icon>
				</md-button>
				<md-button aria-label="photo" class="md-icon-button">
					<md-icon md-svg-icon="assets/svg/phone.svg"></md-icon>
				</md-button>
			</md-fab-actions>
		</md-toolbar>
	</md-fab-toolbar>-->
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
	<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">Sidenav Right</h1>
	</md-toolbar>
	<md-content layout-padding>blah blah
		<md-button ng-click="close()" class="md-primary">Close Sidenav Right</md-button>
	</md-content>
</md-sidenav>