<md-content flex class="md-padding" layout="column">
	<div class="md-whiteframe-z2 md-padding">
		<form name="signupForm">
			<div layout="row">
				<md-input-container flex>
					<label>First Name</label>
					<input type="text" name="firstname" ng-model="signupData.firstname" required>
				</md-input-container>
				<md-input-container flex>
					<label>Last Name</label>
					<input type="text" name="lastname" ng-model="signupData.lastname" required>
				</md-input-container>
			</div>
			<md-input-container>
				<label>Email</label>
				<input type="email" name="email" ng-model="signupData.email" required>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input type="password" name="password" ng-model="signupData.password" required>
			</md-input-container>
			<div class="md-padding" layout="row">
				<md-button flex class="md-raised md-primary" ng-click="appCtrl.signup(signupData)">Sign Up</md-button>
			</div>
			<div class="md-padding text-center">
				<a ui-sref="app.login">Already have an account?</a>
			</div>
		</form>
	</div>
</md-content>