<div class="splash-container" flex layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings">
				<ng-md-icon icon="menu"></ng-md-icon>
			</md-button>
			<h2 flex>Splash</h2>
			<md-button class="md-icon-button" aria-label="Favorite">
				<ng-md-icon icon="menu"></ng-md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="More">
				<ng-md-icon icon="menu"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div flex layout="column">
		<div flex layout="row" layout-align="center center">Material UI Kit, A consistent, organized and retina-ready set of premium components and templates across 7 content categories
			to bring your next big ideas to life.</div>
		<div layout="row" layout-padding layout-margin>
			<md-button flex class="md-raised md-accent">Sign Up</md-button>
			<md-button flex class="md-raised md-primary">Login</md-button>
		</div>
	</div>
</div>