<md-toolbar class="header md-whiteframe-z1">
	<div class="md-toolbar-tools">
		<md-button hide-gt-sm class="md-icon-button" aria-label="Menu" ng-click="toggleSidenav('left')">
			<md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
		</md-button>
		<div flex="auto" style="white-space:nowrap;">
			<a class="brand md-margin" ui-sref="app.splash">LilyBook</a>
			<a hide-sm class="md-margin" ui-sref="app.discovery">Discover</a>
			<a hide-sm class="md-margin" ui-sref="app.browse">Browse</a>
			<a hide-sm class="md-margin" ui-sref="app.composers">Composers</a>
		</div>
		<md-autocomplete flex="auto" hide-md hide-sm md-autofocus="false" md-items="item in search(searchText)" md-search-text="searchText"
		md-search-text-change="" placeholder="Search">
			<md-item-template>
				<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
			</md-item-template>
			<md-not-found>No matches found.</md-not-found>
		</md-autocomplete>
		<md-button hide-gt-md class="md-icon-button" aria-label="Search" ng-click="todo()">
			<md-icon md-svg-icon="assets/svg/ic_search.svg"></md-icon>
		</md-button>
		<div>
			<md-menu-bar ng-if="$root.user" style="padding:0;">
				<md-menu>
					<md-button class="md-icon-button" aria-label="Open account menu" ng-click="$mdOpenMenu($event)">
						<md-icon md-svg-icon="assets/svg/avatar-1.svg"></md-icon>
					</md-button>
					<md-menu-content class="md-hue-2">
						<md-menu-item>
							<md-button ng-click="todo()">Home</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="todo()">Account</md-button>
						</md-menu-item>
						<md-menu-divider></md-menu-divider>
						<md-menu-item>
							<md-button ng-click="logout()">Logout</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</md-menu-bar>
			<a class="md-margin" ui-sref="app.login" ng-if="!$root.user">Login</a>
		</div>
	</div>
</md-toolbar>