.block {
	display: block;
}

.text-center {
	text-align: center;
}

.full-width {
	width: 100%;
}

.pointer {
	cursor: pointer;
}

.ellipsis {
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.splash-container {
	background-image: url('/images/hero.jpg');
	background-size: cover;
	background-position: center center;
}

.header md-autocomplete {
	margin: 0 20px;
}

.hero-background {
	width: 100%;
	height: 480px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hero-composer {
	height: 480px;
	min-height: 480px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hero-composition {
	height: 320px;
	min-height: 320px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.composer .featured {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 40px;
	padding: 0 20px;
	background-color: #fff;
}

.composer .featured .md-list-item-text {
	padding: 5px !important;
}

.composer .popular {
	margin: 20px 40px;
}