.block {
	display: block;
}

.text-center {
	text-align: center;
}

.full-width {
	width: 100%;
}

.pointer {
	cursor: pointer;
}

.splash-container {
	background-image: url('/images/hero.jpg');
	background-size: cover;
	background-position: center center;
}

.header md-autocomplete {
	margin: 0 20px;
}