.block {
	display: block;
}

.text-center {
	text-align: center;
}

.full-width {
	width: 100%;
}

.pointer {
	cursor: pointer;
}

.margin-none {
	margin: 0;
}

.padding-none {
	padding: 0;
}

.ellipsis {
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.ellipsis-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ellipsis-5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.brand {
	font-family: 'Kaushan Script',cursive;
    font-size: 28px;
}

.splash-container {
	background-image: url('/images/hero.jpg');
	background-size: cover;
	background-position: center center;
}

.header md-autocomplete {
	margin: 0 20px;
}

.hero-background {
	width: 100%;
	height: 480px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hero-composer {
	height: 480px;
	min-height: 480px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hero-composition-video {
	height: 360px;
	min-height: 360px;
}

.hero-composition-image {
	height: 240px;
	min-height: 240px;
	background-image: url(/images/sheet-music.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.composer .featured {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 40px;
	padding: 0 20px;
	background-color: #fff;
}

.composer .featured .md-list-item-text {
	padding: 5px !important;
}

.composer .popular {
	margin: 20px 40px;
}





md-icon.md-36 {
	width: 36px;
	height: 36px;
}

md-icon.md-48 {
	width: 48px;
	height: 48px;
}